.fadeGray {
background-image: linear-gradient(right top, rgb(211,224,222) 83%, rgb(199,207,207) 41%);
background-image: -o-linear-gradient(right top, rgb(211,224,222) 83%, rgb(199,207,207) 41%);
background-image: -moz-linear-gradient(right top, rgb(211,224,222) 83%, rgb(199,207,207) 41%);
background-image: -webkit-linear-gradient(right top, rgb(211,224,222) 83%, rgb(199,207,207) 41%);
background-image: -ms-linear-gradient(right top, rgb(211,224,222) 83%, rgb(199,207,207) 41%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.83, rgb(211,224,222)),
	color-stop(0.41, rgb(199,207,207))
);
}

div.box-shadow {
    -webkit-box-shadow: 2px 2px 4px 1px #666;
    box-shadow: 2px 2px 4px 1px #666;
}
